<form class="{{cssClass}}" autocomplete="off">

	<div class="sheet-wrapper">
		{{!-- Sheet Header --}}
		{{> "modules/starscape-pbta/templates/actors/parts/actor-header.hbs" }}

		<section class="sheet-bottom flexrow">
			{{!-- Sidebar --}}

			<section class="sheet-sidebar-left">
				<div class="cell cell--aesthetics">
					{{> "modules/starscape-pbta/templates/actors/parts/actor-attributes.hbs" attrs=system.attrLeft cssClass="cell--attributes-left" owner=owner editable=editable}}
				</div>
			</section>


			{{!-- Main --}}
			<section class="sheet-main flexcol">
				{{!-- Sheet Tab Navigation --}}
				<nav class="sheet-tabs tabs" data-group="primary">
					<a class="item" title="XXXYYY" data-tab="description">{{localize "PBTA.Description"}}</a>
					{{#if playbook}}
					<a class="item" data-tab="classmoves"><img src="{{playbook.system.moveImg}}" title="Class Moves" /></a>
					{{/if}}
					<a class="item" data-tab="moves">{{localize "PBTA.Moves"}}</a>
					<a class="item" data-tab="equipment">{{localize "PBTA.Equipment"}}</a>
				</nav>

				{{!-- Sheet Body --}}
				<section class="sheet-body">
					{{!-- Main Tab --}}
					{{> "modules/starscape-pbta/templates/actors/parts/actor-description.hbs" }}

					{{!-- Class Moves Tab --}}
					{{#if playbook}}
					{{> "modules/starscape-pbta/templates/actors/parts/actor-class-movelist.hbs" }}
					{{/if}}
					{{!-- Moves Tab --}}
					{{> pbta.actor-movelist }}

					{{!-- Owned Equipment Tab --}}
					{{> "pbta.actor-inventory" }}
				</section>
			</section>
		</section>
	</div>
	</form>
