<form class='{{cssClass}} item-form flexcol' autocomplete='off'>
  <header class="sheet-header flexrow">
      <div class="cell--image">
        <img class="profile-img" src="{{item.img}}" data-edit="img" />
      </div>
      <div class="header-fields">
          <h3>{{localize "Starscape.item.background.description"}}</h3>
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "PBTA.Common.Name"}}"/></h1>
      </div>
  </header>
  {{! Sheet Body }}
  <section class='sheet-body'>
    <div class="form-group">
      <label>{{localize "Starscape.item.background.attributes.bonusStat"}}</label>
          <select name="system.bonusStat" data-dtype="String">
            {{selectOptions characterStats selected=system.bonusStat labelAttr="label" }}
          </select>
    </div>
    <div class="form-group">
      <label>{{localize "Starscape.item.background.attributes.choicePrompt"}}</label>
      <input type="text" name="system.choicePrompt" value="{{system.choicePrompt}}" data-dtype="String"/>
    </div>
    <div class="form-group">
      <div class="flexrow">
        <label>{{localize "Starscape.item.background.attributes.choice"}}</label>
        <div class="item-controls">
          <a data-action="add-background-choice">
            <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="form-group">
      <ol class="choices">
        {{#each system.choices as |choice|}}
        <li class="form-group" data-id="{{@index}}">
          <input type="text" name="system.choices.{{@index}}.label" value="{{choice.label}}">
          <div class="item-controls">
            <a data-action="remove-background-choice">
              <i class="fa fa-trash"></i>
            </a>
          </div>
        </li>
        {{/each}}
      </ol>
<!--     <ol class="attributes">
      <li class="attribute-set">
        <div class="flexrow">
          <label>{{localize "Starscape.item.background.attributes.choice"}}</label>
          <div class="item-controls">
            <a data-action="add-background-choice">
              <i class="fa fa-plus"></i>
            </a>
          </div>
        </div>
        <ol>
        {{#each system.choices as |choice choiceKey|}}
          <li class="form-group" data-id="{{@index}}">
            <input type="text" name="system.choices.{{index}}.value" value="{{choice.label}}">
            <div class="item-controls">
              <a data-action="remove-background-choice">
                <i class="fa fa-trash"></i>
              </a>
            </div>
          </li>
        {{/each}}
        </ol>
      </li>
    </ol>
 -->
    </div>
  </section>
</form>