<div class="sheet-block">
	<div class="flexrow"><label class="block-label">{{localize 'Starscape.CharacterSheets.details.sectionHeaders.history'}}</label></div>
	<div class="flexrow fields-with-label">
		<label for="system.details.homeworld.value">{{ localize 'Starscape.CharacterSheets.details.homeworld'}}</label>
		<input name="system.details.homeworld.value" type="text" value="{{system.details.homeworld.value}}" placeholder="{{localize 'Starscape.ChooseOrCreate'}}" />
	</div>
	<div class="flexrow fields-with-label">
		<label for="system.details.notableFeatureWriteIn.value">{{ localize 'Starscape.CharacterSheets.details.notableFeature'}}</label>
		<input name="system.details.notableFeatureWriteIn.value" type="text" value="{{system.details.notableFeatureWriteIn.value}}" placeholder="{{localize 'Starscape.ChooseOrCreate'}}" />
	</div>
	<div class="flexrow fields-with-label">
		<label for="system.details.homeworldImpact.value">{{ localize 'Starscape.CharacterSheets.details.impactOnYou'}}</label>
		<input name="system.details.homeworldImpact.value" type="text" value="{{system.details.homeworldImpact.value}}" />
	</div>
</div>
