<div class="cell cell--stats">
	<ol class="stats-list flexrow">
		{{#each system.stats as |stat key|}}

		<li class="stat flexcol" data-stat="{{key}}">
			<div class="roll-box flexcol">
				<label
					for="system.stats.{{key}}.value"
					class="cell__title stat-rollable rollable"
					data-mod="{{stat.value}}"
					data-label="{{stat.label}}"
					>
					<span class="stat-icon">
						<i class="fas fa-dice-d6"></i>
					</span>
					{{ stat.label }}
				</label>
				<input
					class="stat-value"
					type="text"
					name="system.stats.{{key}}.value"
					value="{{#if stat.value includeZero=true}}{{numberFormat stat.value decimals=0 sign=true}}{{/if}}"
					data-dtype="Number"
					/>
			</div>
			{{#each stat.conditions as |cond cond-key|}}

				<label class="flexrow condition">
				<input
					type="checkbox"
					name="system.stats.{{key}}.conditions.{{cond-key}}.value"
					{{ checked cond.value }}>
				{{cond.label}}
				</label>

			{{/each}}
		</li>
		{{/each}}
	</ol>
</div>